# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation_cities_df = pd.read_csv('../Output_data/cities.csv')

del vacation_cities_df['City_ID']

vacation_cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Keti Bandar,24.14,67.45,87.82,61,0,10.89,PK,1603113615
1,Kieta,-6.22,155.63,79.90,76,76,2.35,PG,1603113615
2,Saint Paul Harbor,57.79,-152.41,40.19,72,0,5.79,US,1603113616
3,Jamestown,42.10,-79.24,50.00,93,100,3.00,US,1603113616
4,Shenjiamen,29.96,122.30,66.04,71,25,15.41,CN,1603113616
...,...,...,...,...,...,...,...,...,...
578,Zapolyarnyy,69.42,30.81,32.79,94,92,7.49,RU,1603113756
579,Nouadhibou,20.93,-17.03,81.25,52,0,8.52,MR,1603113756
580,Hervey Bay,-25.30,152.85,70.00,90,51,2.35,AU,1603113756
581,Sheltozero,61.37,35.37,39.36,77,25,13.00,RU,1603113756
582,Portland,45.52,-122.68,55.00,91,85,2.51,US,1603113667

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key=g_key)

In [7]:
# Store latitude and longitude in locations
locations = vacation_cities_df[["Lat", "Lng"]]
weights = vacation_cities_df["Humidity"].astype(float)


# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
vacation_cities_df = vacation_cities_df.dropna()
vacation_cities_df.dtypes


preferred_cities_df = vacation_cities_df.loc[(vacation_cities_df['Max Temp'] >= 70) & (vacation_cities_df['Max Temp'] <= 80) 
                          & (vacation_cities_df['Humidity'] <= 85) & (vacation_cities_df['Humidity'] >= 15)
                           & (vacation_cities_df['Wind Speed'] <= 15) & (vacation_cities_df['Cloudiness'] <= 25)
                          ]
preferred_cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
9,Mahébourg,-20.41,57.70,78.01,62,0,10.00,MU,1603113617
38,Kapurthala Town,31.38,75.38,79.63,16,0,5.84,IN,1603113623
40,Hong Kong,22.29,114.16,78.01,66,0,1.01,HK,1603113353
55,Kapaa,22.08,-159.32,73.00,59,5,9.33,US,1603113627
74,Honiara,-9.43,159.95,78.78,78,7,5.35,SB,1603113420

In [18]:
preferred_cities_df['Hotel Name'] = ""

preferred_cities_df = preferred_cities_df.reset_index(drop=True)

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
params = {'key': g_key,
             'type': 'lodging',
              'radius': 5000
             }

def findnearby(params):
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    response = requests.get(base_url, params=params)
    data = response.json()
    return data
    
for index, row in preferred_cities_df.iterrows():
    city = row["City"]
    print(f'Looking for hotels in index no:{index} | {city}')
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    hotel_data = findnearby(params)
    
    try:
        preferred_cities_df.loc[index,'Hotel Name'] = hotel_data['results'][0]['name']

    except:
        print(f"missing value for row number{index}")

Looking for hotels in index no:0 | Mahébourg
Looking for hotels in index no:1 | Kapurthala Town
Looking for hotels in index no:2 | Hong Kong
Looking for hotels in index no:3 | Kapaa
Looking for hotels in index no:4 | Honiara
Looking for hotels in index no:5 | Castro
Looking for hotels in index no:6 | Avarua
Looking for hotels in index no:7 | Cidreira
Looking for hotels in index no:8 | Mossamedes
Looking for hotels in index no:9 | Mananjary
Looking for hotels in index no:10 | Cabo San Lucas
Looking for hotels in index no:11 | Beyneu
Looking for hotels in index no:12 | Puerto Escondido
Looking for hotels in index no:13 | Cap Malheureux
Looking for hotels in index no:14 | Souillac
Looking for hotels in index no:15 | Inhambane
Looking for hotels in index no:16 | Saint-Pierre
Looking for hotels in index no:17 | Quatre Cocos
Looking for hotels in index no:18 | Bambous Virieux
Looking for hotels in index no:19 | Koumac
Looking for hotels in index no:20 | Choa Saidan Shah
Looking for hotels in index no:21 | Moindou
Looking for hotels in index no:22 | Faya
Looking for hotels in index no:23 | Marco
Looking for hotels in index no:24 | Khairābād
Looking for hotels in index no:25 | Innisfail
Looking for hotels in index no:26 | Acapulco de Juárez
Looking for hotels in index no:27 | Faanui
Looking for hotels in index no:28 | Hermosillo
Looking for hotels in index no:29 | Zhangaözen
Looking for hotels in index no:30 | Luanda
Looking for hotels in index no:31 | Dossor
Looking for hotels in index no:32 | Grand Gaube
Looking for hotels in index no:33 | Rocha

In [20]:
preferred_cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Mahébourg,-20.41,57.70,78.01,62,0,10.00,MU,1603113617,Shandrani Beachcomber Resort & Spa
1,Kapurthala Town,31.38,75.38,79.63,16,0,5.84,IN,1603113623,Hotel Mehak
2,Hong Kong,22.29,114.16,78.01,66,0,1.01,HK,1603113353,Mini Hotel Central
3,Kapaa,22.08,-159.32,73.00,59,5,9.33,US,1603113627,Sheraton Kauai Resort at Coconut Beach
4,Honiara,-9.43,159.95,78.78,78,7,5.35,SB,1603113420,Heritage Park Hotel
5,Castro,-24.79,-50.01,72.23,66,2,8.23,BR,1603113634,CHACARA BAILLY
6,Avarua,-21.21,-159.78,75.33,77,4,5.28,CK,1603113411,Paradise Inn
7,Cidreira,-30.18,-50.21,72.39,65,0,11.97,BR,1603113643,Hotel Castelo
8,Mossamedes,-15.20,12.15,73.29,68,23,10.76,AO,1603113645,Hotel Chik Chik Namibe
9,Mananjary,-21.22,48.33,76.55,69,11,8.23,MG,1603113648,Vahiny Lodge
10,Cabo San Lucas,22.89,-109.91,73.00,81,0,1.01,MX,1603113482,Hotel Tesoro Los Cabos
11,Beyneu,45.32,55.20,71.33,18,0,11.25,KZ,1603113658,NUR
12,Puerto Escondido,15.85,-97.07,78.10,71,0,4.54,MX,1603113659,Aldea del Bazar Hotel and Spa
13,Cap Malheureux,-19.98,57.61,78.01,62,0,10.00,MU,1603113659,Pereybere Hotel & Spa
14,Souillac,-20.52,57.52,78.01,62,0,10.00,MU,1603113660,Bils' Villa
15,Inhambane,-23.86,35.38,78.80,55,0,11.83,MZ,1603113660,Oceano
16,Saint-Pierre,-21.34,55.48,77.00,70,5,5.01,RE,1603113646,Lindsey Hôtel
17,Quatre Cocos,-20.21,57.76,78.01,62,0,10.00,MU,1603113669,Emeraude Beach Attitude Hotel
18,Bambous Virieux,-20.34,57.76,78.01,62,0,10.00,MU,1603113652,Casa Tia Villa
19,Koumac,-20.57,164.28,71.35,67,0,6.11,NC,1603113673,Le Monitel
20,Choa Saidan Shah,32.72,72.98,75.16,19,0,4.23,PK,1603113673,Office RFO RM
21,Moindou,-21.69,165.68,72.19,74,0,2.80,NC,1603113675,Gite de la RYAWA
22,Faya,18.39,42.45,72.73,19,0,7.72,SA,1603113684,مقبرة ال مجمل
23,Marco,25.97,-81.73,77.00,79,5,8.99,US,1603113402,JW Marriott Marco Island Beach Resort
24,Khairābād,27.53,80.75,79.07,40,0,4.27,IN,1603113690,CHANDRA MARRIAGE LAWN & BANQUET HALL
25,Innisfail,-17.53,146.03,70.90,84,0,3.58,AU,1603113437,Moondarra Motel
26,Acapulco de Juárez,16.86,-99.89,78.76,72,16,3.13,MX,1603113706,HS Hotsson Smart Acapulco
27,Faanui,-16.48,-151.75,79.45,81,0,13.38,PF,1603113709,Bora-Bora Pearl Beach Resort & Spa
28,Hermosillo,29.07,-110.97,75.00,28,0,7.00,MX,1603113710,Hotel San Andrés
29,Zhangaözen,43.30,52.80,70.74,20,0,8.52,KZ,1603113715,K.korabay 28A
30,Luanda,-8.84,13.23,79.00,75,17,12.06,AO,1603113721,EPIC SANA Luanda
31,Dossor,47.53,52.98,70.16,20,0,6.62,KZ,1603113721,"Gostinitsa Orpk ""Nauryz"""
32,Grand Gaube,-20.01,57.66,78.01,62,0,10.00,MU,1603113729,Veranda Paul et Virginie Hotel & Spa
33,Rocha,-34.48,-54.33,78.28,65,7,7.78,UY,1603113735,Beleza Pura B&B

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in preferred_cities_df.iterrows()]
marker_locations = preferred_cities_df[["Lat", "Lng"]]

In [22]:
# Add marker layer ontop of heat map


locations = vacation_cities_df[["Lat", "Lng"]]
weights = vacation_cities_df["Humidity"].astype(float)
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# markers = gmaps.marker_layer(locations,
#     info_box_content=[f"Poverty Rate: {rate}" for rate in poverty_rate])

markers = gmaps.marker_layer(marker_locations,
    info_box_content = hotel_info)

fig.add_layer(markers)

# Display figure

fig

Figure(layout=FigureLayout(height='420px'))